[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "==1.86.0"
dspy = "==2.6.27"
notebook = "*"
pandas = "==2.3.0"
datasets = "==3.6.0"

[dev-packages]

[requires]
python_version = "3.10"
